<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Mozat angel</title>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	overflow:hidden;
}
-->
</style></head>

<body>
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="8" bgcolor="#353c44">&nbsp;</td>
    <td width="147" valign="top"><iframe height="100%" width="100%" border="0" frameborder="0" src="/home/left" name="leftFrame" id="leftFrame" title="leftFrame"></iframe></td>
    <td width="10" bgcolor="#add2da">&nbsp;</td>
	{%if request.user.is_staff%}
    <td valign="top"><iframe height="100%" width="100%" border="0" frameborder="0" src="/dashboard/1/" name="rightFrame" id="rightFrame" title="rightFrame"></iframe></td>
	{%else%}
	<td valign="top"><iframe height="100%" width="100%" border="0" frameborder="0" src="/dashboard/{{request.user.dashboard_set.all.0.id}}" name="rightFrame" id="rightFrame" title="rightFrame"></iframe></td>
	{%endif%}
    <td width="8" bgcolor="#353c44">&nbsp;</td>
  </tr>
</table>
</body>
</html>