<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Mozat angel</title>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.STYLE1 {
	font-size: 12px;
	color: #000000;
}
.STYLE5 {font-size: 12}
.STYLE7 {font-size: 12px; color: #FFFFFF; }
.STYLE7 a{font-size: 12px; color: #FFFFFF; }
a img {
	border:none;
}
-->
		td {
 text-align: center;
 font-size:10px;
}
</style></head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="57" background="/media/static/images/main_03.gif">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td style="width:350px;font-size:30px;color:#ECFFFF;text-align:left">&nbsp;&nbsp;&nbsp;Mozat Angel</td>
        <td>
		{%if request.user.is_staff%}
		<table><tr><td>
			<table width="220" border="1" cellspacing="0" cellpadding="0" bgcolor="#FCFCFC">
				<tr><td colspan="5" align="center">Server Status Totals</td></tr>
				<tr><td align="center">Up</td><td>Down</td><td>Unknow</td><td width="70">All Problems</td><td width="50">All Types</td></tr>
				<tr><td align="center">&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td> </td></tr>
			</table></td><td>
			<table width="250" border="1" cellspacing="0" cellpadding="0" bgcolor="#FCFCFC">
				<tr><td colspan="5" align="center">Services Status Totals</td></tr>
				<tr><td align="center">Ok</td><td>Warning</td><td>Critical</td><td width="70">All Problems</td><td width="50">All Types</td></tr>
				<tr><td align="center">{{services.ok}}</td><td>{{services.warning}}</td><td>{{services.error}}</td><td>{{services.allProblem}}</td>
				<td>{{services.allType}}</td></tr>
			</table></td><td>
			<table width="220" border="1" cellspacing="0" cellpadding="0" bgcolor="#FCFCFC">
				<tr><td colspan="4" align="center">Ticket Status Totals</td></tr>
				<tr><td align="center">New</td><td>Processing</td><td>Closed</td><td>Done</td></tr>
				<tr><td align="center">100</td><td>3</td><td>2</td><td>3</td></tr>
			</table></td></tr>
		</table>
		{%endif%}
		</td>
        <td width="281" valign="bottom" background="/media/static/images/main_03.gif">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="33" height="27"></td>
            <td width="248" >
			<table width="225" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td height="17"></td>
                <td></td>
                <td><div align="right"></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>

  <tr>
    <td height="30" background="/media/static/images/main_31.gif"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="8" height="30"><img src="/media/static/images/main_28.gif" width="8" height="30" /></td>
        <td width="147" background="/media/static/images/main_29.gif"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="24%">&nbsp;</td>
            <td width="43%" height="20" valign="bottom" class="STYLE1">Main menu</td>
            <td width="33%">&nbsp;</td>
          </tr>
        </table></td>
        <td width="39"><img src="/media/static/images/main_30.gif" width="39" height="30" /></td>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
			<td width="21"><img src="/media/static/images/main_13.gif" width="19" height="14" /></td>
            <td width="35" class="STYLE3"><div align="center"><a href="/overview/projects/" target="rightFrame">Home</a></div></td>
            <td width="21" class="STYLE3"><img src="/media/static/images/main_15.gif" width="19" height="14" /></td>
            <td width="35" class="STYLE3"><div align="center"><a href="javascript:history.go(-1);">Back</a></div></td>
            <td width="21" class="STYLE3"><img src="/media/static/images/main_17.gif" width="19" height="14" /></td>
            <td width="35" class="STYLE3"><div align="center"><a href="javascript:history.go(1);">Forward</a></div></td>
            <td width="21" class="STYLE3"><img src="/media/static/images/main_19.gif" width="19" height="14" /></td>
            <td width="35" class="STYLE3"><div align="center"><a href="javascript:window.parent.mainFrame.rightFrame.location.reload();">Refresh</a></div></td>
            <td width="21" class="STYLE7"></td>
            <td width="35" class="STYLE7"></td>
			<td>&nbsp;</td>
			<td height="20" valign="bottom"><div align="right"><span class="STYLE1">Welcome：{{request.user.username}}&nbsp;/&nbsp;<a href="javascript:window.top.location='/accounts/logout';">Login out</a></span></div></td>
          </tr>
        </table></td>
        <td width="17"><img src="/media/static/images/main_32.gif" width="17" height="30" /></td>
      </tr>
    </table></td>
  </tr>
</table>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<script language="javascript"> 
    function reload()
    {
        location.reload(true);
    }
    $(function() {
            setTimeout(reload, 50000);
    })
</script>
</body>
</html>
