<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Mozat angel</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<script type="text/javascript" src="/media/js/ZeroClipboard.js"></script>
<script src="/media/" type="text/javascript"></script>
<style type="text/css">
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.STYLE1 {
	font-size: 12px;
	color: #000000;
}
.STYLE5 {font-size: 12px}
.STYLE7 {font-size: 12px; color: #FFFFFF; }
.STYLE7 a{font-size: 12px; color: #FFFFFF; }
a img {
	border:none;
}
</style>
</head>

<body>
<style>
body{font-family: Verdana, helvetica, arial, sans-serif;}
td{text-align:center;font-size:11px;}
</style>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="57" background="/media/static/images/main_03.gif">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="160px"></table></td>
        <td>
		{%if request.user.is_staff%}
		<table><tr><td>
			<table width="250px" border="1" cellspacing="0" cellpadding="0" bgcolor="#FCFCFC">
				{%if serverUpdate > 180%}
				<tr><td colspan="5" align="center" style="background:#FA8072;"><a href="/overview/problem/server" target="rightFrame">Server Status Totals</a></td></tr>
				{%else%}
				<tr><td colspan="5" align="center">Server Status Totals</td></tr>
				{%endif%}
				<tr><td>Up</td><td>Down</td><td>Unstable</td><td style="text-align:center;font-size:7px;">AllProblems</td><td>AllTypes</td></tr>
				<tr><td align="center">{{servers.ok}}</td>
					<td {%if servers.error > 0%}style="background:#FA8072;"{%endif%}><a href="/overview/problem/server" target="rightFrame">{{servers.error}}</a></td>
					<td {%if servers.warning > 0%}style="background:#F0E68C;"{%endif%}><a href="/overview/problem/server" target="rightFrame">{{servers.warning}}</a></td>
					<td><a href="/overview/problem/server" target="rightFrame">{{servers.allProblem}}</a></td>
					<td><a href="/overview/problem/server" target="rightFrame">{{servers.allType}}</a></td></tr>
			</table></td><td>
			<table width="250px" border="1" cellspacing="0" cellpadding="0" bgcolor="#FCFCFC">
				<tr><td colspan="5" align="center">Services Status Totals</td></tr>
				<tr><td align="center">Ok</td><td>Warning</td><td>Critical</td><td>AllProblems</td><td>AllTypes</td></tr>
				<tr><td align="center">{{services.ok}}</td>
				<td {%if services.warning > 0%}style="background:#F0E68C;"{%endif%}><a href="/overview/problem/service/1" target="rightFrame">{{services.warning}}</a></td>
				<td {%if services.error > 0%}style="background:#FA8072;"{%endif%}><a href="/overview/problem/service/1" target="rightFrame">{{services.error}}</a></td><td>{{services.allProblem}}</td>
				<td>{{services.allType}}</td></tr>
			</table></td><td>
			<table width="220px" border="1" cellspacing="0" cellpadding="0" bgcolor="#FCFCFC">
				<tr><td colspan="4" align="center">Ticket Status Totals</td></tr>
				<tr><td align="center">New</td><td>Processing</td><td>Closed</td><td>Done</td></tr>
				<tr><td {%if tickets.new > 0%}style="background:#FA8072;"{%endif%}><a href="/ticket" target="rightFrame">{{tickets.new}}</a></td><td {%if tickets.processing > 0%}style="background:#F0E68C;"{%endif%}><a href="/ticket" target="rightFrame">{{tickets.processing}}</a></td><td>{{tickets.closed}}</td><td>{{tickets.done}}</td></tr>
			</table></td><td>
			<table width="420" border="1" cellspacing="0" cellpadding="0" bgcolor="#FCFCFC">
				<tr><td colspan="3" align="center">Widget Config Status</td><td colspan="2">Disable Alarm Count</td><td>Call Status</td></tr>
				<tr><td align="center">All</td><td>Ok</td><td>Diff</td><td>Project</td><td>Alarm</td><td><a href="/admin/servers/disablealarmlog/" target="_bank">Show log</a></td></tr>
				<tr><td align="center">{{widgetStatus.all}}</td><td>{{widgetStatus.same}}</td><td {%if widgetStatus.diff > 0%}style="background:#FA8072;"{%endif%}><a href="/overview/widget/diff_conf" target="rightFrame">{{widgetStatus.diff}}</a></td>

				<td><a href="/admin/servers/project/" target="_bank">{{disAlarmPros}}</a></td><td><a href="/admin/servers/alarm/" target="_bank">{{disAlarms}}</a></td><td {%if call == 'off'%}style="background:#FA8072;"{%endif%}>{%if call == 'on'%}<a href="/home/top?call=off">on</a>{%else%}<a href="/home/top?call=on">off</a>{%endif%}</td></tr>
			</table>
				</td></tr>
		</table>
		{%endif%}
		</td>
        <td width="281" valign="bottom" background="/media/static/images/main_03.gif">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="33" height="27"></td>
            <td width="248" >
			<table width="225" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td height="17"></td>
                <td></td>
                <td><div align="right"></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>

  <tr>
    <td height="30" background="/media/static/images/main_31.gif"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="8" height="30"><img src="/media/static/images/main_28.gif" width="8" height="30" /></td>
        <td width="147" background="/media/static/images/main_29.gif"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="24%">&nbsp;</td>
            <td width="40px" valign="bottom" class="STYLE1">Main&nbsp;menu</td>
            <td width="33%">&nbsp;</td>
          </tr>
        </table></td>
        <td width="39"><img src="/media/static/images/main_30.gif" width="39" height="30" /></td>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
	    <td width="21"></td>
            <td width="35" class="STYLE3"><div align="center"><a href="/overview/projects/" target="rightFrame">Home</a></div></td>
            <td width="21" class="STYLE3"></td>
            <td width="35" class="STYLE3"><div align="center"><a href="javascript:history.go(-1);">Back</a></div></td>
            <td width="21" class="STYLE3"></td>
            <td width="35" class="STYLE3"><div align="center"><a href="javascript:history.go(1);">Forward</a></div></td>
            <td width="21" class="STYLE3"></td>
            <td width="35" class="STYLE3"><div align="center"><a href="javascript:window.parent.mainFrame.rightFrame.location.reload();">Refresh</a></div></td>
            <td width="21" class="STYLE3"></td>
            <td width="50" class="STYLE3"><div align="center" id="copy-botton"><a href="javascript:void(0);">Copy&nbsp;current&nbsp;url</a></div></td>
	    <td height="30" valign="center"><div align="right"><span class="STYLE1">Welcome：{{request.user.username}}&nbsp;/&nbsp;<a href="javascript:window.top.location='/accounts/logout';">Login out</a></span></div></td>
          </tr>
        </table></td>
        <td width="17"><img src="/media/static/images/main_32.gif" width="17" height="30" /></td>
      </tr>
    </table></td>
  </tr>
</table>
<script language="javascript">
		clip = new ZeroClipboard.Client();
		clip.setHandCursor( true );
		clip.addEventListener('mouseOver', my_mouse_over);
		clip.glue( 'copy-botton' );
		function my_mouse_over(client) {
		    clip.setText("http://angel.morange.com/?url="+window.parent.mainFrame.rightFrame.location.pathname);
		}
		
    function reload()
    {
        location.reload(true);
    }
    $(function() {
            setTimeout(reload, 55000);
    })
</script>
</body>
</html>
