{% extends "html/html_home.html" %}

{% block content %}
<style>
body{font-family: Verdana, helvetica, arial, sans-serif;}
td{text-align:center;font-size:11px;}
td.hi {display:none;}
td.rights {border-bottom:1px solid #000;border-right:1px solid #000;}
td.Normal {background:#00DB00}
td.Down {background:#FF2D2D}
td.Unstable{background:#FFFF6F}
td.Off {background:#ADADAD}
</style>
<div id="imgall" style="float:left;">
<table border="1" cellspacing="0" cellpadding="1">
<tr><td>Master</td><td>Slave</td><td>Data Size</td><td>Backup Time</td><td>Backup Result</td><td>Backup Size</td><td>Backup Used%</td><td>Backup Dir</td><td>Backup File</td><td>Backup Spend(minutes)</td><td>Backup Databases</td><td>Backup Type</td><td>Backup Crontab</td><td>Remark</td></tr>
{% for d in data%}
<tr><td>{{d.1}}</td><td>{{d.2}}</td><td>{{d.3}}</td><td>{{d.4}}</td><td>{{d.5}}</td><td>{{d.6}}</td><td>{{d.7}}</td><td>{{d.8}}</td><td>{{d.9}}</td><td>{{d.10}}</td><td>{{d.11}}</td><td>{{d.12}}</td><td>{{d.13}}<td>
<form action="">
<textarea name="remark" cols="50" rows="3">{{d.0}}</textarea>
<input type="hidden" name="id" value="{{d.1}}_{{d.2}}">
<input type="submit" value="save">
</form>
</td></tr>
{% endfor %}
</table>
</div>

{% endblock %}
