{% extends "base_site.html" %}

{% block content %}

<link rel="stylesheet" type="text/css" href="/media/css/forms.css" /> 
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/media/css/ie.css" /><![endif]-->

<h1>{{ rrd.name|title }} - {{ widget.title|title }}</h1>
<form action="" method="GET">
<fieldset class="module aligned ">
	<div class="form-row title"> 
	    <div> 
			<label for="id_date" class="required">Date:</label> 
			<p class="datetime"><input name="date" value="{{ show_date }}" class="vDateField" type="text" id="id_date" size="11"><span class="datetimeshortcuts"></span>
			&nbsp;&nbsp;&nbsp;&nbsp;
			{% if widget.widget_type == "2"%}
			<input type="submit" value="Show Date" name="show" /> 
			<input type="submit" value="With Yesterday" name="show1d"  /> 
			<input type="submit" value="With Yesterday and last week" name="show1w" />
			{% else %}
			<input type="submit" value="Show Date" name="show" />
			{% endif %}
			<input type="button" value="Download Data" id="download" name="download" />
			</p>
	    </div> 
	</div>
</fieldset>
</form>

<div id="download_div" style="display:none;width:800px">
	<form action="/rrd/img/{{ rrd.id }}/download" method="GET">
		<label for="id_date_start" class="required">Start:</label> 
		<input name="start" value="{{ show_date }}" class="vDateField" type="text" id="id_date_start" size="11"><span class="datetimeshortcuts"></span>
		<label for="id_date_end" class="required">End:</label> 
		<input name="end" value="{{ show_date }}" class="vDateField" type="text" id="id_date_end" size="11"><span class="datetimeshortcuts"></span>
			<input type="submit" value="Download"  />
	</form>
</div>

<img src="/rrd/img/{{ widget.id }}/?&start={{ start }}&end={{ end }}&height=480&width=1000&{{ graph_option }}" height="480" width="1000" />
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/media/js/core.js"></script>
<script type="text/javascript" src="/media/js/calendar.js"></script>
<script type="text/javascript" src="/media/js/admin/DateTimeShortcuts.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<script type="text/javascript"> 
$(function() { 
	$("#download").click(function(){
		$("#download_div").toggle();		
	});
});

</script>
{% endblock %}

