{% extends "base_site.html" %}

{% block content %}
		{% if is_staff %}
	<h1>CMDB</h1>
	<ul>
		<li><a href="/cmdb/deployment">deployment</a></li>
		<li><a href="/cmdb/servers/">server</a></li>
		<li><a href="/cmdb/services/">services</a></li>
	</ul>
	<h1>statistics</h1>
	<ul>
		<li><a href="/statistics/show/">statistics</a></li>
		<li><a href="/ticket/">ticket</a></li>
		<li><a href="/backuplog/showinfo/">backup</a></li>
	</ul>
	{% endif %}

	<h1>Dashboards</h1>
	<ul>
	{% for dashboard in dashboards%}
		<li><a href="/dashboard/{{ dashboard.id }}/">{{ dashboard.title }}</a></li>
	{% endfor %}
	</ul>
	
	<h1>Graph Aiders</h1>
	<ul>
	{% for graph_aider in graph_aiders%}
		<li><a href="/graphaider/{{ graph_aider.id }}/">{{ graph_aider.title }}</a></li>
	{% endfor %}
	</ul>

	<h1>Error Dashboards</h1>
	<ul>
	{% for error_dashboard in error_dashboards%}
		<li><a href="/dashboard/error/{{ error_dashboard.id }}/">{{ error_dashboard.title }}</a></li>
	{% endfor %}
	</ul>
	
	{% if is_staff %}
	<h1>Servers</h1>
		<h2>Windows Servers</h2>
		<ul>
		{% for server in win_servers%}
			<li><a href="/servers/{{ server.id }}/">{{ server.name }} - {{ server.ip }}</a></li>
		{% endfor %}
		</ul>

		<h2>Linux Servers</h2>
		<ul>
		{% for server in linux_servers%}
			<li><a href="/servers/{{ server.id }}/">{{ server.name }} - {{ server.ip }}</a></li>
		{% endfor %}
		</ul>
	{% endif %}
{% endblock %}
