{% extends "base_site.html" %}

{% block content %}

<link rel="stylesheet" type="text/css" href="/media/css/forms.css" /> 
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/media/css/ie.css" /><![endif]-->

<h1>{{ widget.category|title}} - {{ widget.title|title }} - {{ widget.rrd.name|title }}</h1>
<form action="" method="GET" id = "check">
<fieldset class="module aligned ">
	<div class="form-row title"> 
	    <div>
			{{ warn|safe  }}
			<label for="id_date" class="required">Date:</label>
            <p class="datetime">Start Date: <input name="start" value={{ start }} class="vDateField" type="text" id="id_date_start" size="10" >Time:
			<input name="start1" value={{ start1 }} class="vTimeField" type="text" id="id_date_start_1" size="8" /> </p>
			<p class="datetime">End &nbsp;&nbsp;Date: <input name="end" value={{ end }} class="vDateField" type="text" id="id_date_end" size="10" />Time:
			<input name="end1" value={{ end1 }} class="vTimeField" type="text" id="id_date_end_1" size="8" />&nbsp; Unit:
			<select name="ptime" value = month selected="selected" id="select_date">
			<option value="hour"{% if ptime == "hour" %}selected="selected" {%endif%} >hour</option>
			<option value="day" {% if ptime == "day" %}selected="selected" {%endif%} >day</option>
			<option value="week" {% if ptime == "week" %}selected="selected" {%endif%} >week</option>
			<option value="month" {% if ptime == "month" %}selected="selected" {%endif%} >month</option>
			</select></p>
			
			<h class="required">
			{% for line in check_line_values%}	
			<h><input type='checkbox' class='usercheck' name = {{line.line}} value = {{line.line}} {{ line.checked }} />{{line.line}}</h>&nbsp;
			{% endfor %}
			<h><input type='checkbox' id='chkAll' value = "checkall" {{checkall}}  onclick='select_all()'/>All</h>&nbsp;&nbsp;
			<input type="submit" value = "Show Date" />
			</h>
	    </div> 
	</div>
</fieldset>
</form>

<img src="/img/widget/{{widget.id}}/parse/?&start={{start}}^{{start1}}&end={{end}}^{{end1}}&ptime={{ptime}}&cl={{check_lines}}" height="480" width="1000" /></br>
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/media/js/core.js"></script>
<script type="text/javascript" src="/media/js/calendar.js"></script>
<script type="text/javascript" src="/media/js/admin/DateTimeShortcuts.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.init.js"></script> 
<script type="text/javascript" src="/media/js/actions.min.js"></script>

<script type = 'text/javascript'>
$(document).ready( function(){
$('#check input:checkbox.usercheck').click(function(){
if (this.checked){
if ($('#check input:checked.usercheck').length == $('#check input.usercheck').length){
$('#chkAll')[0].checked = true;
}
}else{
$('#chkAll')[0].checked = false;
}
});
});
function select_all(){
var e = $('#chkAll')[0].checked;
$('#check input:checkbox.usercheck').each(function(){
this.checked = e;
});
}
</script>
{% endblock %}

