{% extends "base_site.html" %}
{% load rrd_extras %}

{% block content %}

{% if showAlarms %}
<fieldset class="module aligned ">
	<input type="button" value="Hide Already Alarms" id="showAlarms" name="ahowalerms" />&nbsp
	<input type="button" value="Show Last 24 Hours Alarms" onclick="location.href='/alarm'" /> 
	<div id="showAlarms_div" style="display:block;">
		<table>
			<tr>
				<th>Auto Alarm</th><th>Time</th><th>Title</th><th>Widget</th><th>Alarm level</th><th>Alarm mode</th><th>Ticket ID</th><th>Overdue</th><th>Contact result</th><th>Alarm users</th>
			</tr>
				{% for alarmlog in alarmlogs %}
			<tr>
				<td></td>
				<td>{{ alarmlog.created_on|date:"m-d H:i:s" }}</td>
				<td>{{ alarmlog.title.title }}</td>
				<td>{{ alarmlog.widget.title }}</td>
				<td>
						{% if alarmlog.alarmlevel == 2 %}
					<div style="background-color:#AAAAFF;" >{{ alarmlog.alarmlevel }} th</div>
						{% else %}
						{% if alarmlog.alarmlevel == 3 %}
					<div style="background-color:red;" >{{ alarmlog.alarmlevel }} th</div>
						{% else %}
						{% if alarmlog.alarmlevel == 4 %}
					<div style="background-color:yellow;" >{{ alarmlog.alarmlevel }} th</div>
						{% else %}
						{% if alarmlog.alarmlevel == 5 %}
					<div style="background-color:#BE77FF;" >{{ alarmlog.alarmlevel }} th</div>
						{% else %}
						{% if alarmlog.alarmlevel == 6 %}
					<div style="background-color:#FFD306;" >{{ alarmlog.alarmlevel }} th</div>
						{% else %}
					<div style="background-color:#9AFF02;" >{{ alarmlog.alarmlevel }} th</div>
						{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
				</td>
				<td>
						{% if alarmlog.alarmmode == "email" %}
					<div style="background-color:#FFD306;" >{{ alarmlog.alarmmode }}</div>
						{% else %}
						{% if alarmlog.alarmmode == "sms" %}
					<div style="background-color:red;" >{{ alarmlog.alarmmode }}</div>
						{% else %}
					<div style="background-color:#9AFF02;" >{{ alarmlog.alarmmode }}</div>
						{% endif %}
						{% endif %}
				</td>
				<td>{{ alarmlog.ticketid }}</td>
				<td>{% if alarmlog.overdue == "1" %}Not{% else %}<div style="background-color:#9AFF02;" >Yes</div>{% endif %}</td>
				<td>
						{% if alarmlog.contact_result == "fail" %}
					<div style="background-color:red;" >{{ alarmlog.contact_result }}</div>
						{% else %}
						{{ alarmlog.contact_result }}
						{% endif %}
				</th>
				<td>
						{% for user in alarmlog.alarmuser.all %}
						{{ user.name }}
						{% endfor %}
				</td>
			</tr>
				{% endfor %}
		</table>
		<table>
			<tr>
				<th>Frequent Alarm</th><th>Time</th><th>Title</th><th>Widget</th><th>Alarm level</th><th>Alarm mode</th><th>Ticket ID</th><th>Contact result</th><th>Alarm users</th>
			</tr>
				{% for falarmlog in frequentAlarmLogs %}
			<tr>
				<td></td>
				<td>{{ falarmlog.lasterror_time|date:"m-d H:i:s" }}</td>
				<td>{{ falarmlog.title.title }}</td>
				<td>{{ falarmlog.widget.title }}</td>
				<td>
						{% if falarmlog.alarmlevel == 2 %}
					<div style="background-color:#AAAAFF;" >{{ falarmlog.alarmlevel }} th</div>
						{% else %}
						{% if falarmlog.alarmlevel == 3 %}
					<div style="background-color:red;" >{{ falarmlog.alarmlevel }} th</div>
						{% else %}
						{% if falarmlog.alarmlevel == 4 %}
					<div style="background-color:yellow;" >{{ falarmlog.alarmlevel }} th</div>
						{% else %}
						{% if falarmlog.alarmlevel == 5 %}
					<div style="background-color:#BE77FF;" >{{ falarmlog.alarmlevel }} th</div>
						{% else %}
						{% if falarmlog.alarmlevel == 6 %}
					<div style="background-color:#FFD306;" >{{ falarmlog.alarmlevel }} th</div>
						{% else %}
					<div style="background-color:#9AFF02;" >{{ falarmlog.alarmlevel }} th</div>
						{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
				</td>
				<td>
						{% if falarmlog.alarmmode == "email" %}
					<div style="background-color:#FFD306;" >{{ falarmlog.alarmmode }}</div>
						{% else %}
						{% if falarmlog.alarmmode == "sms" %}
					<div style="background-color:red;" >{{ falarmlog.alarmmode }}</div>
						{% else %}
					<div style="background-color:#9AFF02;" >{{ falarmlog.alarmmode }}</div>
						{% endif %}
						{% endif %}
				</td>
				<td>{{ falarmlog.ticketid }}</td>
				<td>
						{% if falarmlog.contact_result == "fail" %}
					<div style="background-color:red;" >{{ falarmlog.contact_result }}</div>
						{% else %}
						{{ falarmlog.contact_result }}
						{% endif %}
				</th>
				<td>
						{% for user in falarmlog.alarmuser.all %}
						{{ user.name }}
						{% endfor %}
				</td>
			</tr>
				{% endfor %}
		</table>
	</div>
</fieldset>
{% endif %}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<style>
th {width:100px;}
</style>
<h1>{{ dashboard.title }}</h1>
{% if dashboard.des %}
	<div class="system-message">{{ dashboard.des|safe }}</div>
{% endif %}

{% regroup dashboard.widget_set.all|dictsort:"category.title" by category as widgets %}

{% for category in widgets %}
<h2><a href = "#{{ category.grouper.title|widget_category_cut }}_b"  id="{{ category.grouper.title|widget_category_cut }}_b" >{{ category.grouper.title }}</a></h2>
	<table id="{{ category.grouper.title|widget_category_cut }}_table">
					{% if category.list.0.widget_type == "1" %}
					<tr class="{{ category.grouper.title|widget_category_cut }}_columnTitles" style="display:{{ category.grouper.display }};">
						<th></th>
						{{ category.list.0|show_widget_header|safe|title }}
						<th>Graph</th>
						<th>Action</th>
					</tr>
					{% endif %}
					{% if category.list.0.widget_type == "2" %}
					<tr class="{{ category.grouper.title|widget_category_cut }}_columnTitles" style="display:{{ category.grouper.display }};">
						<th></th>
						<th>Latest</th>
						<th>Yesterday</th>
						<th>Last Week</th>
						<th>Graph</th>
						<th>Action</th>
					</tr>
				{% endif %}
	{% for widget in category.list|dictsort:"title" %}

		<tr class="{{ category.grouper.title|widget_category_cut }}_tr" style="display:{{ category.grouper.display }};">
		<th>{{ widget|show_widget_title|safe }}</th>
		{% if widget.widget_type == "1" %}
			{{ widget|show_widget_with_current_value|safe }}
		{% endif %}
		{% if widget.widget_type == "2" %}
			{{ widget|show_widget_with_current_and_past_value|safe }}
		{% endif %}
		<td><a href="/dashboard/{{ dashboard.id }}/widget/{{ widget.id }}/graph" target="_blank">View</a></td>
		<td>
			{% if widget.server and dashboard.id == 1 %}
				<a href="/servers/{{ widget.server.id}}/" target="_blank">Execute</a>
			{% endif %}
		</td>
	</tr>
	{% endfor %}

</table>

	<script type="text/javascript"> 
	$(document).ready(function(){
		$("#{{ category.grouper.title|widget_category_cut }}_b").click(function(){
		    {% if category.grouper.display_mode == "0" %}
			if ($('#{{ category.grouper.title|widget_category_cut }}_table').find('div.errornote').length == "0" && $('#{{ category.grouper.title|widget_category_cut }}_table').find('div.errors').length == "0"){
			{% endif %}
			{% if category.grouper.display_mode == "1" %}
			if ($('#{{ category.grouper.title|widget_category_cut }}_table').find('div.errornote').length == "0"){
			{% endif %}
					$('#{{ category.grouper.title|widget_category_cut }}_table tr.{{ category.grouper.title|widget_category_cut }}_columnTitles').slideToggle();
				}
			$('#{{ category.grouper.title|widget_category_cut }}_table tr.{{ category.grouper.title|widget_category_cut }}_tr').each(function(){
				{% if category.grouper.display_mode == "0" %}
				if ($(this).find('div.errornote').length == "0" && $(this).find('div.errors').length == "0" ){
				{% endif %}
				{% if category.grouper.display_mode == "1" %}
				if ($(this).find('div.errornote').length == "0"){
				{% endif %}
					$(this).slideToggle();
					}
			});
		});
	});
	</script>

<script type="text/javascript">
$(document).ready(function(){
	$('#{{ category.grouper.title|widget_category_cut }}_table tr').each(function(){
		{% if category.grouper.display_mode == "0" %}
	    if ($(this).find('div.errornote').length > "0" || $(this).find('div.errors').length > "0"){
		{% endif %}
		{% if category.grouper.display_mode == "1" %}
		if ($(this).find('div.errornote').length > "0"){
		{% endif %}
			$('#{{ category.grouper.title|widget_category_cut }}_table tr.{{ category.grouper.title|widget_category_cut }}_columnTitles').show();
			$(this).show();
	    }
	});
});
</script>



{% endfor %}
<script type="text/javascript"> 
$(function() {
	$("#showAlarms").click(function(){
		if ($("#showAlarms_div").is(":visible")==true){
			$("#showAlarms").val("Show Already Alarms");
			$("#showAlarms_div").toggle();
			
		}else{
			$("#showAlarms").val("Hide Already Alarms");
			$("#showAlarms_div").toggle();
		}
	});
});
</script>

<script language="javascript"> 
    function reload()
    {
        location.reload(true);
    }
    $(function() {
            setTimeout(reload, 60000);
    })
</script>
{% endblock %}
