{% extends "base_site.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/media/css/forms.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/media/css/ie.css" /><![endif]-->
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/media/js/core.js"></script>
<script type="text/javascript" src="/media/js/calendar.js"></script>
<script type="text/javascript" src="/media/js/admin/DateTimeShortcuts.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>

<form action="" method="GET">
	{{ warn|safe }}
	<h class="datetime">Start Date: <input name="start" value="{{ start }}" class="vDateField" type="text" id="id_date_start" size="10" >Time:
	&nbsp; &nbsp;
	<h class="datetime">End &nbsp;Date: <input name="end" value="{{ end }}" class="vDateField" type="text" id="id_date_end" size="10" />Time:
	<input type="submit" value = "Show Date" id = "showDate" />
</form>
<br><br>
<li>start: {{ mystart }}</li><br>
<li>end: {{ myend }}</li><br>
{% for d in parseDays %}
{{ d.date|date:"Y-m-d" }} &nbsp;
{% endfor %}
{% endblock %}
