{% extends "base_site.html" %}
{% load rrd_extras %}

{% block content %}
		{% if user.is_staff %}

	<style>
	th {width:80px;}
	</style>
	<h1>Ticket list</h1>
	<table>
		<tr><th>ticket id</th><th>grade</th><th>status</th><th>operator</th><th>keyword</th><th style="width:120px;">start time</th><th style="width:120px;">last update</th><th>Action taken</th></tr>
		{% for ticket in tickets %}
		<tr><td><a href="/ticket/show/{{ ticket.id }}">{{  ticket.id }}</a></td><td>{{ ticket.incidentgrade }}</td><td>{{ ticket.status }}</td>
			<td>{% for p in ticket.project.all %}{{ p.name }}&nbsp;{% endfor %}</td><td>{{ ticket.title }}</td>
			<td>{{ ticket.starttime|date:"Y-m-d H:i:s" }}</td><td>{{ ticket.lastupdate|date:"Y-m-d H:i:s" }}</td><td>{{ ticket|ticket_action}}</td></tr>
		{% endfor %}
	</table>
	{% endif %}

{% endblock %}
