{% extends "home.html" %}
{% load overview_extras %}
{% block content %}

{% for d in data %}
	<table>
	{%for w in d%}
	{%ifchanged w.category%}
	<h2>{{ w.category }}</h2>
	<tr>
		<th></th>
		{{w.showTitle|safe}}
		<th>Graph</th>
		<th>Action</th>
	</tr>
	{%endifchanged%}
	<tr>
		{{w.value|safe}}
		<td><a href="/dashboard/1/widget/{{ w.widget.id }}/graph" target="_blank">View</a></td>
		<td>
			<a href="/servers/{{ w.widget.server.id}}/" target="_blank">Execute</a>
		</td>
	</tr>
	{%endfor%}
	</table>
{%endfor%}


{% endblock %}
