{% extends "base_site.html" %}
{% load cmdb_extras %}

{% block content %}
<!--<link rel="stylesheet" type="text/css" href="/media/css/forms.css" /> -->
<link rel="stylesheet" type="text/css" href="/media/css/forms.css" /> 
	
<fieldset class="module aligned ">
	<div class="form-row title"> 
	    <div>
			<form action="/cmdb/updateservices" method="GET">
				<h>Latest Update: {{ lastUpdate.created_on|date:"Y-m-d H:i:s" }}&nbsp;
				<input type="submit" value = "Update Now"  name="syncdb"/></h>
			</form>
		<form action="" method="GET" >
			<h>ip: <input type="text" name="ip" value="{{ ip }}" >
			title: <input type="text" name="title" value="{{ title }}" >
			physical ip: <input type="text" name="pip" value="{{ pip }}" ></h><br/>
			<h>service name: 
			<select name="service_name" >
				<option value="" {% if service_name == "" %}selected="selected"{% endif %} >All</option>
				{% for s in services_name %}
				<option value="{{ s }}" {% if service_name == s %}selected="selected"{% endif %} >{{ s }}</option>
				{% endfor %}
			</select>
			service type: 
			<select name="service_type" >
				<option value="" {% if service_type == "" %}selected="selected"{% endif %} >All</option>
				{% for s in services_type %}
				<option value="{{ s }}" {% if service_type == s %}selected="selected"{% endif %} >{{ s }}</option>
				{% endfor %}
			</select>
			system:
			<select name="system" >
				<option value="" {% if system == "" %}selected="selected"{% endif %} >All</option>
				<option value="W" {% if system == "W" %}selected="selected"{% endif %} >Windows</option>
				<option value="L" {% if system == "L" %}selected="selected"{% endif %} >Linux</option>
			</select>

			project:
			<select name="project" >
				<option value="" {% if project == "" %}selected="selected"{% endif %} >All</option>
				{% for p in projects %}
				<option value="{{ p.project }}" {% if project == p.project %}selected="selected"{% endif %} >{{ p.project }}</option>
				{% endfor %}
			</select>

			created on:
			<input name="created_on" value="{{ created_on }}" class="vDateField" type="text" id="id_date" size="11"><span class="datetimeshortcuts"></span></h>
			&nbsp;&nbsp;
			<input type="submit" value = "Show Data" />
			<input type="button" value = "Download Deployment" id="download" name="download"/><br/>
		</form>
		</div>
	</div>
<div id="download_div" style="display:none;width:800px">
	<form action="/cmdb/deployment/" method="GET">
		{% for p in projects_d %}
			<h><input type='checkbox' class='usercheck' name = 'ps' value ='{{p}}' />{{p}}</h>&nbsp;
			{% endfor %}
			<h><input type='checkbox' id='chkAll' value = "checkall"  onclick='select_all()'/>All</h></h><br>
			<input type="submit" value="Download"  />
	</form>
</div>

</fieldset>
	<style>
	th {width:100px;}
	</style>
	<h2>services:</h2>
	<table id="tb">
	<tr style="background:#f7f89a" role="head">
		<th sort="true" style="width:25px" >id</th><th sort="true" >project</th><th sort="true" >title</th><th sort="true">ip</th><th sort="true"  style="width:160px" >[Name: Cores-RAM-HD]</th><th sort="true" >system</th><th sort="true" >service name</th><th sort="true" >service type</th><th sort="true" >remark</th><th sort="true" style="width:100px" >created on</th><th sort="true" style="width:150px" >latest udpate</th></tr>
		{% for s in services %}
		{% if forloop.counter0|tr_color %}
		<tr class="row1">
		{% else %}
		<tr>
		{% endif %}
			<td>{{ forloop.counter }}</td>
			<td>{{s.project}}</td><td>{{ s.title }}</td><td><a href="/cmdb/servers/?ip={{ s.ip }}">{{ s.ip }}</a></td>
			<td>{{ s.server_id|showServerInfo|safe }}</td>
			<td>
			{% if s.system == "W" %}
			Windows
			{% else %}
			{% if s.system == "L" %}
			Linux
			{% endif %}
			{% endif %}
			</td>
			<td>
			{{ s.service_name }}
			</td>
			<td>{{ s.service_type }}</td>
			<td>{{ s.remark }}</td>
			<td>{{ s.created_on|date:"Y-m-d H:i:s" }}</td>
			<td>{{ s.update_time|date:"Y-m-d H:i:s" }}</td>
		</tr>
		{% endfor %}
	</table>


<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/media/js/core.js"></script>
<script type="text/javascript" src="/media/js/calendar.js"></script>
<script type="text/javascript" src="/media/js/admin/DateTimeShortcuts.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.init.js"></script> 
<script type="text/javascript" src="/media/js/actions.min.js"></script>
<script type="text/javascript" src="/media/js/TableSort.js"></script>
<script type="text/javascript"> 

$(function() { 
	$("#download").click(function(){
		$("#download_div").toggle();
	});
});
</script>

<script type = 'text/javascript'>
$(document).ready( function(){
$('#download_div input:checkbox.usercheck').click(function(){
if (this.checked){
if ($('#download_div input:checked.usercheck').length == $('#download_div input.usercheck').length){
$('#chkAll')[0].checked = true;
}
}else{
$('#chkAll')[0].checked = false;
}
});
});
function select_all(){
var e = $('#chkAll')[0].checked;
$('#download_div input:checkbox.usercheck').each(function(){
this.checked = e;
});
}
</script>
<script type="text/javascript">
$(function(){
	$("#tb").sorttable({
		ascImgUrl: "/media/img/bullet_arrow_up.png",
		descImgUrl: "/media/img/bullet_arrow_down.png",
		ascImgSize: "8px",
		descImgSize: "8px",
		allowMask:false,
		onSorted: function (cell) {
		$("#tb").find("tr").removeClass("row1");
		$("#tb").find("tr:odd").addClass("row1");
		}
	});
});
</script>

{% endblock %}
